button {
  background-image: url("https://www.svgrepo.com/show/506800/burger-menu.svg");
}
img {
  height: 30px;
  width: 30px;
}
img:hover {
  cursor: pointer;
}
.categories {
  border-style: ridge;
  background-color: rgb(255, 255, 255);
}
.header-style {
  font-family: "Brush Script MT", cursive;
  color: blue;
  text-align: center;
  font-size: 40px;
}
.gallary {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 12px;
}
.grid-child {
  position: relative;
}
form {
  display: flex;
  flex-direction: row-reverse;
}
.form-child {
  color: rgb(255, 0, 0);
  display: flex;
}
.grid-child img {
  width: 100%;
  height: auto;
}
.grid-child h2 {
  font-style: italic;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 2;
  text-align: center;
}
.grid-child h3 {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .header-style {
    font-size: 100px;
  }
}
